
services:
  api:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - .:/app  # Maps the current directory to /app in the container
    # command: bash -c "python manage.py runserver 0.0.0.0:8000"
    command: bash -c "python manage.py collectstatic --noinput && python manage.py runserver 0.0.0.0:8000"
