Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
python-dotenv
dj_database_url
# psycopg2==2.9.10
psycopg2-binary==2.9.10
django-jazzmin
whitenoise==6.8.2
django-import-export
django-debug-toolbar