Django==5.2
django-cors-headers
Django>=5.0
whitenoise
django-jazzmin
django-storages
boto3
django-ckeditor
djangorestframework
djangorestframework-simplejwt
PyJWT
django-cors-headers
django-import-export
django-widget-tweaks
python-dotenv
dj_database_url
psycopg2
psycopg2-binary
django-jazzmin
django-import-export
dj-database-url
django-debug-toolbar
apscheduler
requests
django-redis
pandas
django-widget-tweaks
whitenoise
waitress
firebase-admin
gunicorn
reportlab
openpyxl
django-ckeditor
django-storages
boto3
python-dateutil
psycopg2-binary
Pillow
gunicorn
geopy
