{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% if is_register %}
<div class="box" >
    <span class="borderLine"></span>
    
    <form id ="registerform" method="post" action="{% url 'loginw' %}">
      {% csrf_token %}
      <img src="{% static 'base/ADLogo.png' %}"  class="mt-0 ms-5" style="margin-bottom: 30px;" alt="Logo">

      <h2>Register</h2>

        <!-- First Name -->
        <div class="inputBox">
            {{ form.first_name }}
            <span>First Name</span>
            <i></i>
        </div>

        <!-- Last Name -->
        <div class="inputBox">
            {{ form.last_name }}
            <span>Last Name</span>
            <i></i>
        </div>

        <!-- Email -->
        <div class="inputBox">
            {{ form.email }}
            <span>Email</span>
            <i></i>
        </div>

        <!-- Username -->
        <div class="inputBox">
            {{ form.username }}
            <span>Username</span>
            <i></i>
        </div>

        <!-- Password -->
        <div class="inputBox">
            {{ form.password1 }}
            <span>Password</span>
            <i></i>
        </div>

        <!-- Confirm Password -->
        <div class="inputBox">
            {{ form.password2 }}
            <span>Confirm Password</span>
            <i></i>
        </div>

        <!-- Links -->
        <div class="links">
            <a href="{% url 'loginw' %}">Already have an account?</a>
        </div>

        <!-- Submit Button -->
        <input type="submit" id="submit" value="Register">
  </form>
</div>
    {% else %}
    <div class="box" >
        <span class="borderLine"></span>
    <form id ="loginform" method="post" action="{% url 'loginw' %}">
        {% csrf_token %}
        <img src="{% static 'base/ADLogo.png' %}"  class="mt-5 ms-5" style="margin-bottom: 30px;" alt="Logo">

        <h2>Sign in</h2>

        <div class="inputBox">
            {{ form.username }}
            <span>Username</span>
            <i></i>
        </div>

        <div class="inputBox">
            {{ form.password }}
            <span>Password</span>
            <i></i>
        </div>

        <div class="links">
            <a href="#">Forgot Password</a>
            <a href="{% url 'registerw' %}">Signup</a>
        </div>

        <input type="submit" id="submit" value="Login">
    </form>
    {% endif %}
</div>

</body>
</html>
