<table class="table table-striped w-100 d-block d-md-table">
    <thead>
        <th>Project Code</th>
        <th>Description</th>
        <th>Segment</th>
        <th>Created By</th>
        <th>Created At</th>
    </thead>
    <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>
                    {% for segment in project.segments.all %}
                      {{ segment.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                      <em>No segments</em>
                    {% endfor %}
                  </td>
                <td>{{ project.created_by }}</td>
                <td>{{ project.created_at }}</td>
                <td>
                    <button class='btn'>
                        <i class="bi bi-pencil" style="font-size: 32px;"></i>
                    </button>
                </td>
                <td>
                    <button class='btn'>
                        <i class="bi bi-trash3" style="font-size: 32px;"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
